<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Homework Grader</title>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
</head>
<body class="container-md d-flex flex-column justify-content-between" style="height: 100vh;">
    <div class="alert mb-0 row">
        <div class="col-md-12">
            <h1 class="text-center">Homework Grader</h1>
            <p>
                <button type="button" class="btn btn-light me-2" data-bs-toggle="modal" data-bs-target="#add-config">
                    New
                </button>
            </p>
            <div class="row">
                {% for cfg_id, cfg_name in existed_configs %}
                <div class="col-md-6">
                    <div class="alert alert-light">
                        <h5 class="card-title">{{ cfg_name }}</h5>
                        <ul class="nav gap-2">
                            <li class="nav-item">
                                <span style="display: block; padding: var(--bs-nav-link-padding-y) 0;">Actions:</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/rubric?id={{ cfg_id }}">Rubric</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/grade?id={{ cfg_id }}">Grading</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/analyze?id={{ cfg_id }}">Score</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" type="button" data-bs-toggle="modal" data-bs-target="#delete-config"
                                   onclick="confirm_deletion('{{ cfg_id }}', '{{ cfg_name }}')">
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="text-danger fw-bold">
                This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
            </p>
            <p class="text-secondary">
                &copy; <a href="https://github.com/cloudy-sfu" style="text-decoration: none;">cloudy-sfu</a> 2023
            </p>
        </div>
        <div class="modal fade" id="delete-config" tabindex="-1" aria-labelledby="delete-config-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="delete-config-label">Confirmation</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">Are you sure to delete <span id="deletion-filename"></span>?</div>
                    <div class="modal-footer">
                        <a type="button" href="" id="deletion-sender" class="btn btn-danger">Yes, I'm sure.</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="add-config" tabindex="-1" aria-labelledby="add-config-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="add-config-label">New Assignment</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="/config-add">
                        <div class="modal-body">
                            <p>
                                <label>Name:</label>
                                <input class="form-control" type="text" maxlength="64" name="name" required />
                            </p>
                            <p>
                                <a href="" style="text-decoration: none;" id="base_dir_1">Select base directory</a><br>
                                Select a folder, which contains students' submissions, using the popped-up file
                                selector.
                            </p>
                            <input id="base_dir" class="form-control" type="text" name="base_dir" readonly required />
                            <p id="base_dir_2"></p>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="import-config" tabindex="-1" aria-labelledby="import-config-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="import-config-label">Import Assignment</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="/import-config" enctype="multipart/form-data">
                        <div class="modal-body">
                            <input type="file" name="config" accept="application/activity+json" />
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            function confirm_deletion(cfg_id, name) {
                document.getElementById("deletion-sender").href = "/delete-config?id=" + cfg_id;
                document.getElementById("deletion-filename").innerText = name;
            }
            document.getElementById('base_dir_1').addEventListener('click', (e) => {
                e.preventDefault();
                $.ajax({
                    type: 'GET',
                    url: '/select-base-directory',
                    success: (r) => {
                        if (r['error'] === 0) {
                            document.getElementById('base_dir').value = r['base_dir'];
                        }
                        document.getElementById('base_dir_2').innerText = r['message'];
                    },
                    fail: () => {
                        document.getElementById('base_dir_2').innerText = 'Cannot detect files in your computer.';
                    }
                });
            });
        </script>
    </div>
</body>
</html>
